/*h1 {
  color: aqua;
  text-align: center;
}
p {
  padding-left: 16%;
  padding-top: 0;
}
p1 {
  color: aqua;
}
pre {
  padding-right: 35%;
  padding-left: 16%;
}
p1 {
  padding-left: 16%;
}
ol {
  padding-left: 20%;
}
b {
  padding-left: 31%;
}*/
form {
  padding-top: 2%;
  padding-left: 16%;
}
button {
  border-radius: 4px;
  padding: 10px 25px;
  cursor: pointer;
  background-color: blue;
  color: white;
}
